version: 2
updates:
- package-ecosystem: pip
  directory: "/"
  schedule:
    interval: weekly
    day: monday
    time: "05:02"
  # Should be bigger than or equal to the total number of dependencies (currently 6)
  open-pull-requests-limit: 15
  target-branch: ci/dependabot-updates
  labels:
    - "dependencies"
- package-ecosystem: github-actions
  directory: "/"
  schedule:
    interval: daily
    time: "05:04"
  target-branch: ci/dependabot-updates
  labels:
    - "github_actions"
