name: CI

on: [push]

jobs:
  pre-commit-basic:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Python 3.7
      uses: actions/setup-python@v5
      with:
        python-version: '3.7'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -U setuptools wheel
        pip install pre-commit

    - name: Run pre-commit
      run: SKIP=pylint,mypy,black,bandit,requirements-txt-fixer pre-commit run --all-files
